<div class="container">

  <!-- INSERIMENTO NUOVO PACCHETTO  -->
  <div  id="nuovoPacchetto" class="modal fade"
        tabindex="-1"
        role="dialog" data-backdrop="static"
        style="padding-top:35px; display:none;">
       
     <div class="modal-dialog modal-lg" role="document">
     <div class="modal-content shadow-lg">
     <div class="modal-header">
        <h3 class="modal-title">Nuovo Pacchetto</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
        </button>
     </div>

     
     <div class="modal-body" style="height:450px;overflow:auto;">
        <form #newPktForm="ngForm" class="form-horizontal" role="form" novalidate>
           
          <!-- NOME PACCHETTO (OBBLIGATORIO) -->
           <div class="form-group row" >
              <label for="nome_pkt" class="col-sm-3 col-form-label col-form-label-sm  my-label-required font-weight-bold">Nome*</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="nome_pkt"  name="nome_pkt" placeholder="Nome pacchetto"
                  required [(ngModel)]="pacchetto.nome"></div>
                <!--
                  #ptk_nome="ngModel">
                </div>
                
                <div [hidden]="ptk_nome.valid || ptk_nome.pristine"
                  class="alert alert-danger">
                    Il nome del pacchetto è richiesto
                </div> -->
          </div>

          
          <!-- DESCRIZIONE (OBBLIGATORIO) -->
          <div class="form-group row">
            <label for="summernote-newpkt-descr" class="col-sm-3 col-form-label col-form-label-sm my-label-required font-weight-bold">Descrizione*</label>
            <div class="col-sm-9">
                <textarea class="form-control" id="summernote-newpkt-descr" name="descr_newpkt"  placeholder="Descrizione" rows="4"
                required [(ngModel)]="pacchetto.descr" #descr_newpkt="ngModel"></textarea>
            </div>

            <!--
            <div id="alert_descr_newpkt" class="alert alert-danger col-sm-12 text-center" style="display:none">
                  La descrizione del pacchetto è richiesta
            </div>
            <div id="alert_descr_newpkt" class="alert alert-danger col-sm-12 text-center" 
                 [hidden]="descr_newpkt.valid || descr_newpkt.pristine" >
                  La descrizione del pacchetto è richiesta
            </div> -->
          </div>

          <!-- PRE-REQUISITI -->
          <div class="form-group row">
              <label for="summernote-newpkt-prereq" class="col-sm-3 col-form-label col-form-label-sm font-weight-bold">Prerequisiti</label>
              <div class="col-sm-9">
                  <textarea class="form-control" id="summernote-newpkt-prereq" name="pre_req"  placeholder="Prerequisiti" rows="4"
                  [(ngModel)]="pacchetto.pre_req"></textarea>
              </div>
          </div>

          
          <!-- CONTRO INDICAZIONI -->
          <div class="form-group row">
            <label for="contro_ind" class="col-sm-3 col-form-label col-form-label-sm font-weight-bold">Controindicazioni</label>
            <div class="col-sm-9">
                <textarea class="form-control" id="contro_ind" name="contro_ind"  placeholder="Controindicazioni" rows="4"
                [(ngModel)]="pacchetto.contro_ind"></textarea>
            </div>
          </div>

          <!-- ALERT -->
          <div class="form-group row">
            <label for="alert" class="col-sm-3 col-form-label col-form-label-sm font-weight-bold">Alert</label>
            <div class="col-sm-9">
                <textarea class="form-control" id="alert" name="alert"  placeholder="Messaggio di alert" rows="4"
                [(ngModel)]="pacchetto.alert_msg"></textarea>
            </div>
          </div>

          <!-- PATOLOGIE -->
          <div class="form-group row">
            <label for="patologie" class="col-sm-3 col-form-label col-form-label-sm font-weight-bold">Patologie</label>
            <div class="col-sm-9">
                <textarea class="form-control" id="patologie" name="patologie"  placeholder="Patologie" rows="4"
                [(ngModel)]="pacchetto.patologia"></textarea>
            </div>
          </div>

        </form>
        
     </div>
     <div class="modal-footer">
        <button title="Pulisci" class="btn btn-info text-white" 
          (click)="reset(newPktForm);">
           <i class="fas fa-eraser" aria-hidden="true"></i>&nbsp;Pulisci&nbsp;
        </button>
        
        <button title="Salva voce" class="btn btn-info text-white" 
            (click)="salvaPacchetto(newPktForm)">
            <!--[disabled]="newPktForm.invalid" -->
            <i class="fas fa-share-square"></i>&nbsp;Salva&nbsp;</button>
            <!-- <i class="fas fa-save" aria-hidden="true"></i>&nbsp;Salva&nbsp;</button> -->
     </div>
     </div>
     </div>
  </div>
  <!-- INSERIMENTO NUOVA VOCE GLOSSARIO -->
</div>