
<div (mouseover)="show_debug=true" (mouseleave)="show_debug=false">

<label class="label-debug" *ngIf="debug&&show_debug">app/components/dettaglio-esercizio/media-collegati/</label>

<div class='w-100 my-bg-dark-title my-text-red text-center py-2 mb-5'>
    <label>Media assegnati</label>
</div>

  
  <!-- SEZIONE FILE VIDEO -->
  <div class="w-100" *ngIf="filter('video'); let video_list">
  <label class="label-media" >Video ({{video_list.length}})</label>
  <div id="video-esercizio" class="row py-3 px-1 my-bg-secondary" 
      style="border-radius:4px;margin:0">
  
      <div *ngFor="let video of video_list" class="col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="thumbnail thumbnail-media my-bg-dark p-2">
            <div class="embed-responsive embed-responsive-16by9 my-pointer" (click)="playVideo(video)">
              <video> <source class="embed-responsive-item" [src]="video.url + '#t=5'" ></video>
            </div>
            <p>
            <table class="w-100"><tr>
            <td class="descr-media text-white">{{video.descr}}</td>
            <td style="width:24px;"><i class="my-trash fas fa-trash-alt" (click)="confermaCancellaMedia(video)"></i></td>
            </tr></table>
        </div>
      </div>
  </div>
  </div> 

	<br>

	<!-- SEZIONE FILE AUDIO -->
	<div class="w-100" *ngIf="filter('audio'); let lista_audio">
		<label class="label-media" >Audio ({{lista_audio.length}})</label>
		<div id="doc-esercizio" class="row py-3 px-1 my-bg-secondary" 
			style="border-radius:4px;margin:0">

			<div *ngFor="let audio of lista_audio" class="col-sm-6 col-md-4 mb-3">
				<div class="thumbnail thumbnail-media my-bg-dark p-3 word-break">
              <audio controls style="width:100%"> <source [src]="audio.url"></audio>
              <p>
                  <table class="w-100"><tr>
                  <td class="descr-media text-white">{{audio.descr}}</td>
                  <td style="width:24px;"><i class="my-trash fas fa-trash-alt" (click)="confermaCancellaMedia(audio)"></i></td>
                  </tr></table>
				</div>
			</div>
		</div>
	</div>

	<br>

  <!-- SEZIONE FILE IMMAGINI -->
  <div class="w-100" *ngIf="filter('image'); let image_list">
  <label class="label-media" >Immagini ({{image_list.length}})</label>
  <div id="images-esercizio" class="row py-3 px-1 my-bg-secondary" 
   style="border-radius:4px;margin:0">
   
     <div *ngFor="let image of image_list" class="col-sm-6 col-md-4 col-lg-3 mb-3">
         <div class="thumbnail thumbnail-media my-bg-dark p-3 word-break my-pointer">
             <img [src]="image.url" class="img-fluid"
                 (click)="openImageEsercizio(image)">
             <p>
             <table class="w-100"><tr>
             <td class="descr-media text-white">{{image.descr}}</td>
             <td style="width:24px;"><i class="my-trash fas fa-trash-alt" (click)="confermaCancellaMedia(image)"></i></td>
             </tr></table>
           </div>
     </div>
  </div>
  </div>

 <br>

 <!-- SEZIONE DOCUMENTI -->
 <div class="w-100" *ngIf="filter('doc'); let lista_docs">
    <label class="label-media" >Documenti ({{lista_docs.length}})</label>
    <div id="doc-esercizio" class="row py-3 px-1 my-bg-secondary" 
      style="border-radius:4px;margin:0"
      >
        <div *ngFor="let doc of lista_docs" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-4 word-break">
          <div class="thumbnail thumbnail-docs p-2 word-break">
            <div class="media">
            <img [src]="docIcon(doc.url)" class="align-self-start m-1 mr-2" style="height:55px;">
            <div class="media-body" style="cursor:pointer" (click)="open(doc.url)">
                <p class="label-doc">{{docName(doc.url)}}</p>
                <p>{{doc.descr}}</p>
            </div>
            </div>
            <p><i class="my-trash-dark fas fa-trash-alt" (click)="confermaCancellaMedia(doc)"></i></p>
          </div>
        </div>
    </div>
 </div>

 <br>

 <!-- SEZIONE APPLICAZIONI -->
 <div class="w-100" *ngIf="filter( 'app' ); let apps_list">
   <label class="label-media" >Applicazioni ({{apps_list.length}})</label>
   <div id="apps-esercizio" class="row py-3 px-1 my-bg-secondary" 
      style="border-radius:4px;margin:0">
      
      <div *ngFor="let app of apps_list" class="col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="thumbnail thumbnail-media my-bg-dark p-3 word-break my-pointer">
               <img [src]="app.url_snapshot" class="img-fluid">
               <p>
               <table class="w-100"><tr>
               <td class="descr-media text-white">{{app.descr}}</td>
               <td style="width:24px;"><i class="my-trash fas fa-trash-alt" (click)="confermaCancellaMedia(app)"></i></td>
               </tr></table>
            </div>
      </div>
   </div>
</div>


    <!-- 
     -- Finestra modale per aprire un video 
     -->
    <div id="myModalVideo" class="modal fade" role="dialog" data-backdrop="static">
      <div class='modal-dialog modal-dialog-centered modal-lg'>
        
        <div class="modal-content shadow-lg">
            <div class='modal-header'>
                <h4 class='modal-title'></h4>
                <button type='button' class='close' (click)="stopVideo()">&times;</button>
             </div>
          <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9">
            <video id="video-play" class='video-play ' controls>
                <source class="embed-responsive-item" src=""></video>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <!-- Finestra modale per aprire una immagine -->
    <div id="myModalImg" class="modal fade" role="dialog" data-backdrop="static">
        <div class='modal-dialog modal-dialog-centered modal-lg'>      
          <div class="modal-content shadow-lg">
              <div class='modal-header'>
                  <h4 class='modal-title'></h4>
                  <button type='button' class='close' data-dismiss='modal'>&times;</button>
               </div>
               <div class='modal-body col-12 text-center'>
                  <img id="img-exercice" src="" class='img-fluid'>
               </div>
          </div>
        </div>
    </div>



  <!--
   -- Pannello laterale con le icone di azione sugli elementi multimediali:
   -- modifica esercizio, aggiungi video, aggiungi audio, aggiungi immagine, aggiungi documento
   -->
   <div id='div_action_media' class="shadow py-2 px-2 text-center">

      <i title="aggiungi video" class="fas fa-file-video mb-2 text-white action-media" style="font-size:36px;" (click)="openModalAggiungiMedia('video')"></i><br>
      <i title="aggiungi audio" class="fas fa-file-audio mb-2 text-white action-media" style="font-size:36px;" (click)="openModalAggiungiMedia('audio')"></i><br>
      <i title="aggiungi immagini" class="fas fa-image mb-2 text-white action-media" style="font-size:36px;" (click)="openModalAggiungiMedia('image')"></i><br>
      <i title="aggiungi documenti" class="fas fa-file-alt mb-2 text-white action-media" style="font-size:36px;" (click)="openModalAggiungiMedia('doc')"></i><br>
      <i title="aggiungi applicazioni" class="fab fa-app-store-ios text-white action-media" style="font-size:36px;" (click)="openModalAggiungiMedia('app')"></i>
      

     <!-- <img title="aggiungi video" src="assets/images/add-video.png" class="action-media" (click)="openModalAggiungiMedia('video')"><br>
      <img title="aggiungi audio" src="assets/images/add-audio.png" class="action-media" (click)="openModalAggiungiMedia('audio')"><br>
      <img title="aggiungi immagini" src="assets/images/add-image.png" class="action-media" (click)="openModalAggiungiMedia('image')"><br>
      <img title="aggiungi documenti" src="assets/images/add-doc.png" class="action-media" (click)="openModalAggiungiMedia('doc')"><br>
      <img title="aggiungi applicazione" src="assets/images/add-app.png" class="action-media" (click)="openModalAggiungiMedia('app')">-->

    </div>


    <!-- FINESTRA MODALE PER AGGIUNGERE UN VIDEO -->
    <div id='myFetch_video' class='modal fade' role='dialog' >
    <div class='modal-dialog modal-lg'>
    <div class='modal-content shadow-lg'>
        <div class='modal-header'>
          <h3 class='modal-title'> <i class="fas fa-file-video mr-3" ></i>Aggiungi video</h3>
        <!--
        <h3 class='modal-title'><img src='assets/images/video_icon.png' style="width:64px;">&nbsp;Aggiungi video</h3>-->
		  
		  <div style="float:right;margin:0;padding:0">
            <i class="fas fa-times close" data-dismiss='modal' (click)="stopAllVideos()"></i>
            <i *ngIf="countChecked()>0" class="fas fa-plus  close" (click)="aggiungiMediaEsercizio('video')"></i>
		  </div>

        </div>
        <div class='modal-body mx-3'>
          <div class="row mb-1 text-white my-bg-dark-2 my-shadow-sm" *ngFor="let media of listaMediaDisponibili">
				
            <div class="col-sm-9 pt-2 word-break">
                <label class="checkbox-container">&nbsp;
                    <input type="checkbox" [(ngModel)]="media_checked[media.id_media]">
                    <span class="checkmark"></span>
                </label>
                {{media.descr_media | truncate}}
            </div>

            <div class="col-sm-3 embed-responsive embed-responsive-16by9">
                <video controls>
                    <source class="embed-responsive-item" [src]="media.url_media">
                </video>
            </div>
          </div>
        </div>
        <div class="modal-footer"></div>
    </div></div></div>
 

    <!-- FINESTRA MODALE PER AGGIUNGERE UN AUDIO -->
    <div id='myFetch_audio' class='modal fade' role='dialog' >
        <div class='modal-dialog modal-lg'>
        <div class='modal-content shadow-lg'>
            <div class='modal-header'>

              <h3 class='modal-title'> <i class="fas fa-file-audio mr-3"></i>Aggiungi audio</h3>
              <!--
            	<h3 class='modal-title'><img src='assets/images/audio_icon.png' style="width:64px;">&nbsp;Aggiungi audio</h3> -->
            	<div style="float:right;margin:0;padding:0">
                    <i class="fas fa-times close" data-dismiss='modal' (click)="stopAllAudio()"></i>
                    <i *ngIf="countChecked()>0" class="fas fa-plus  close" (click)="aggiungiMediaEsercizio('audio')"></i>
				  </div>
            </div>
            <div class='modal-body mx-3'>
          
                <div class="row mb-1 text-white my-bg-dark-2" *ngFor="let media of listaMediaDisponibili">
						<div class="col-sm-8 pt-2 word-break">
                            <label class="checkbox-container">&nbsp;
                                    <input type="checkbox" [(ngModel)]="media_checked[media.id_media]">
                                    <span class="checkmark"></span>
                            </label>
                            {{media.descr_media | truncate}}
						</div>
                  <div class="col-sm-4">
                      <audio controls style="max-width:100%;height:60px;">
                          <source [src]="media.url_media">
                      </audio>
                  </div>
                </div>
              </div>
              <div class="modal-footer"></div>
        </div></div></div>


    <!-- FINESTRA MODALE PER AGGIUNGERE UNA IMMAGINE -->
    <div id='myFetch_image' class='modal fade' role='dialog' >
        <div class='modal-dialog modal-lg'>
        <div class='modal-content shadow-lg'>
            <div class='modal-header'>

              <h3 class='modal-title'> <i class="fas fa-image mr-3"></i>Aggiungi immagini</h3>

              <!-- <h3 class='modal-title'><img src='assets/images/image_icon.png' style="width:64px;">&nbsp;Aggiungi immagine</h3> -->
              
            	<div style="float:right;margin:0;padding:0">
                    <i class="fas fa-times close" data-dismiss='modal'></i>
                    <i *ngIf="countChecked()>0" class="fas fa-plus  close" (click)="aggiungiMediaEsercizio('image')"></i>
				</div>
            </div>
            <div class='modal-body mx-3'>
                <div class="row mb-2 text-white my-bg-dark-2 my-shadow-sm" *ngFor="let media of listaMediaDisponibili">
                    <div class="col-sm-9 pt-2 word-break">
                        <label class="checkbox-container">&nbsp;
                            <input type="checkbox" [(ngModel)]="media_checked[media.id_media]">
                            <span class="checkmark"></span>
                        </label>
                        {{media.descr_media | truncate}}
                    </div>
                    <div class="col-sm-3" style="padding-right:0px">
                        <img [src]="media.url_media" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div></div></div>


    <!-- FINESTRA MODALE PER AGGIUNGERE UN DOCUMENTO -->
    <div id='myFetch_doc' class='modal fade' role='dialog' >
        <div class='modal-dialog modal-lg'>
        <div class='modal-content shadow-lg'>
            <div class='modal-header' style='background-color:rgba(90,90,170,1.0)'>

              <h3 class='modal-title'> <i class="fas fa-file-alt mr-3" ></i>Aggiungi documenti</h3>

              <!-- <h3 class='modal-title'><img src='assets/images/doc_icon.png' style="width:64px;">&nbsp;Aggiungi documento</h3> -->
              
            	<div style="float:right;margin:0;padding:0">
                    <i class="fas fa-times close" data-dismiss='modal'></i>
                    <i *ngIf="countChecked()>0" class="fas fa-plus  close" (click)="aggiungiMediaEsercizio('doc')"></i>
				</div>
            </div>
            <div class='modal-body mx-3'>
                <div class="row mb-1 text-white my-bg-dark-2 my-shadow-sm" *ngFor="let media of listaMediaDisponibili">
                    <div class="col-sm-11 p-3 my-pointer" (click)="open(media.url_media)">
                        <img [src]="docIcon(media.url_media)" style="width:42px;margin-right:10px">{{media.descr_media | truncate}}
                    </div>
                    <div class="col-sm-1 pt-3" style="background-color:rgb(28, 62, 103);">
                        <label class="checkbox-container">&nbsp;
                            <input type="checkbox" [(ngModel)]="media_checked[media.id_media]">
                            <span class="checkmark"></span>
						</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
    </div></div></div>



   <!-- FINESTRA MODALE PER AGGIUNGERE UNA APPLICAZIONE -->
   <div id='myFetch_app' class='modal fade' role='dialog' >
      <div class='modal-dialog modal-lg'>
      <div class='modal-content shadow-lg'>
            <div class='modal-header'>

               <h3 class='modal-title'> <i class="fab fa-app-store-ios mr-3" ></i>Aggiungi App</h3>

              <!-- <h3 class='modal-title'><img src='assets/images/app_icon.png' style="width:64px;">&nbsp;Aggiungi App</h3>-->

               <div style="float:right;margin:0;padding:0">
                  <i class="fas fa-times close" data-dismiss='modal'></i>
                  <i *ngIf="countChecked()>0" class="fas fa-plus  close" (click)="aggiungiMediaEsercizio('app')"></i>
               </div>
            </div>
            <div class='modal-body mx-3'>
               <div class="row mb-2 text-white my-bg-dark-2 my-shadow-sm" *ngFor="let media of listaMediaDisponibili">
                  <div class="col-sm-9 pt-2 word-break">
                        <label class="checkbox-container">&nbsp;
                           <input type="checkbox" [(ngModel)]="media_checked[media.id_media]">
                           <span class="checkmark"></span>
                        </label>
                        {{media.descr_media | truncate}}
                  </div>
                  <div class="col-sm-3" style="padding-right:0px">
                        <img [src]="media.url_snapshot" class="img-fluid">
                  </div>
               </div>
            </div>
            <div class="modal-footer"></div>
   </div></div></div>

  </div>

