.marked-row {
    background:rgba(39, 140, 255, 0.2) !important;
    /*text-shadow: 1px 1px 2px white;*/
    color: rgb(16,95,133);
  }

  .marked-row-first-col {
     border-left: 5px solid rgb(7, 85, 221) !important;
  }

  .marked-row-last-col {
     border-right:  5px solid rgb(7, 85, 221) !important;
  }

  .thead-dark th {
    color: #fff;
    background-color: #1f4f7e;
    border-color: rgba(0,0,0,0);
    font-weight: normal;
  }

  #tablePacchettiFormazione {
    width:100%;
    color:rgb(34,67,136);
    cursor:pointer;
  }

  #tablePacchettiFormazione tr > td {
    padding: 6px 10px;
    font-family: Calibri,Tahoma,verdana;
    font-size:20px;
    border:1px solid transparent;
    border-bottom:1px solid rgba(200,200,200,0.1);
  }

  #tablePacchettiFormazione tr> td:first-child {
    vertical-align: text-top;
  }
  
  #tablePacchettiFormazione:last-child {
    border-radius:4px;
  }

  #tablePacchettiFormazione tr > td:nth-child(1) {
     font-weight: bold;
  }


  #tablePacchettiFormazione > tbody > tr:hover {
    background-color: rgb(193, 221, 253);
    transition: background-color 0.3s ease-in-out;
  }


  