<div class="container">

    <!-- INSERIMENTO NUOVO PACCHETTO  -->
    <div  id="actPacchetto" class="modal fade"
          tabindex="-1"
          role="dialog" data-backdrop="static"
          style="padding-top:35px; display:none;">
         
       <div class="modal-dialog modal-lg" role="document">
       <div class="modal-content shadow-lg">
       <div class="modal-header">
          <h3 class="modal-title">{{titolo}}</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
          </button>
       </div>
  
       
       <div class="modal-body" style="height:450px;overflow:auto;">
          <form #actPktForm="ngForm" class="form-horizontal" role="form" novalidate>
             
            <!-- NOME PACCHETTO (OBBLIGATORIO) -->
             <div class="form-group row" >
                <label for="nome_pkt" class="col-sm-3 col-form-label col-form-label-sm my-label-required font-weight-bold">Nome*</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="nome_pkt"  name="nome" placeholder="Nome pacchetto"
                    required [(ngModel)]="pacchetto.nome"></div>
                  <!--
                    #ptk_nome="ngModel">
                  </div>
                  <div [hidden]="ptk_nome.valid || ptk_nome.pristine"
                    class="alert alert-danger">
                      Il nome del pacchetto è richiesto
                  </div> -->
            </div>
  
            
            <!-- DESCRIZIONE (OBBLIGATORIO) -->
            <div class="form-group row">
              <label for="summernote-actpkt-descr" class="col-sm-3 col-form-label col-form-label-sm my-label-required font-weight-bold">Descrizione*</label>
              <div class="col-sm-9">
                  <textarea class="form-control" id="summernote-actpkt-descr" name="descr"  placeholder="Descrizione"
                  required [(ngModel)]="pacchetto.descr"></textarea>
              </div>
            </div>
  
            <!-- PRE-REQUISITI -->
            <div class="form-group row">
                <label for="summernote-actpkt-prereq" class="col-sm-3 col-form-label col-form-label-sm font-weight-bold">Prerequisiti</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="summernote-actpkt-prereq" name="pre_req"  placeholder="Prerequisiti"
                    [(ngModel)]="pacchetto.pre_req"></textarea>
                </div>
            </div>
  
            
            <!-- CONTRO INDICAZIONI -->
            <div class="form-group row">
              <label for="contro_ind" class="col-sm-3 col-form-label col-form-label-sm font-weight-bold">Controindicazioni</label>
              <div class="col-sm-9">
                  <textarea class="form-control" id="contro_ind" name="contro_ind"  placeholder="Controindicazioni" rows="3"
                  [(ngModel)]="pacchetto.contro_ind"></textarea>
              </div>
            </div>
  
            <!-- ALERT -->
            <div class="form-group row">
              <label for="alert" class="col-sm-3 col-form-label col-form-label-sm font-weight-bold">Alert</label>
              <div class="col-sm-9">
                  <textarea class="form-control" id="alert" name="alert_msg"  placeholder="Messaggio di alert" rows="3"
                  [(ngModel)]="pacchetto.alert_msg"></textarea>
              </div>
            </div>
  
            <!-- PATOLOGIE -->
            <div class="form-group row">
              <label for="patologie" class="col-sm-3 col-form-label col-form-label-sm font-weight-bold">Patologie secondarie</label>
              <div class="col-sm-9">
                  <textarea class="form-control" id="patologie" name="patologie_secondarie"  placeholder="Patologie secondarie" rows="3"
                  [(ngModel)]="pacchetto.patologie_secondarie"></textarea>
              </div>
            </div>
  
          </form>
          
       </div>
       <div class="modal-footer">

          <button title="Pulisci i campi del modulo" class="btn btn-info text-white" 
                  (click)="reset(actPktForm)">
             <i class="fas fa-eraser" aria-hidden="true"></i>&nbsp;Pulisci&nbsp;
          </button>

          <button *ngIf="azione=='modifica_pacchetto'" title="Ricarica sul modulo i campi del pacchetto corrente" class="btn btn-info text-white" 
                  (click)="reloadEntryPkt()">
              <i class="fas fa-sync-alt" aria-hidden="true"></i>&nbsp;Ricarica&nbsp;
          </button>
          
          <button *ngIf="azione=='nuovo_pacchetto'" title="Salva pacchetto" class="btn btn-info text-white" 
              (click)="salvaPacchetto(actPktForm)">
              <!--[disabled]="actPktForm.invalid" -->
              <i class="fas fa-share-square"></i>&nbsp;Salva&nbsp;
          </button>

          <button *ngIf="azione=='modifica_pacchetto'" title="Salva modifiche" class="btn btn-info text-white" 
            (click)="salvaPacchettoModificato(actPktForm)">
            <i class="fas fa-share-square"></i>&nbsp;Salva&nbsp;
          </button>

       </div>
       </div>
       </div>
    </div>
    <!-- INSERIMENTO NUOVO PACCHETTO -->
  </div>