<DIV id="div_pkg_controller" class="container-fluid first-panel-position">

   <DIV class="row">
   <DIV class="col-sm-12">

      <!-- PANNELLO CON LA LISTA DEI PACCHETTI -->
      <app-lista-pacchetti #listaPacchettiRef></app-lista-pacchetti>

      
      <!-- PANNELLO CON LA LISTA DEGLI ESERCIZI DI UN PACCHETTO  -->
      <app-lista-esercizi #listaEserciziRef
      [listaPacchetti]="listaPacchettiRef" ></app-lista-esercizi>


      <!-- FORM AGGIUNTA/MODIFICA PACCHETTO -->
      <app-action-pacchetto
      [listaPacchetti]="listaPacchettiRef"></app-action-pacchetto>


      <!-- FORM AGGIUNTA/MODIFICA ESERCIZIO -->
      <app-action-esercizio
      [listaEsercizi]="listaEserciziRef"></app-action-esercizio>

   </DIV>
   </DIV>

</DIV>


<DIV id="div_dettaglio_esercizio" class="container-fluid" >
	   <!-- PAGINA DI  DETTAGLIO DI UN ESERCIZIO -->
	   <app-dettaglio-esercizio #dettaglioEsercizioRef
      [listaEsercizi]="listaEserciziRef"></app-dettaglio-esercizio>
</DIV>
