<DIV id="div_pkg_controller" class="container-fluid first-panel-position">

   <DIV class="row">
   <DIV class="col-sm-12">

      <!-- PANNELLO CON LA LISTA DEI PACCHETTI -->
      <app-lista-pacchetti #listaPacchettiRef></app-lista-pacchetti>

      
      <!-- PANNELLO CON LA LISTA DEGLI ESERCIZI DI UN PACCHETTO  -->
      <app-lista-esercizi #listaEserciziRef
      [listaPacchetti]="listaPacchettiRef" ></app-lista-esercizi>

      <!-- FORM AGGIUNTA PACCHETTO -->
      <app-new-pacchetto
      [listaPacchetti]="listaPacchettiRef"></app-new-pacchetto>


      <!-- FORM MODIFICA PACCHETTO -->
      <app-mod-pacchetto
      [listaPacchetti]="listaPacchettiRef"></app-mod-pacchetto>


      <!-- FORM AGGIUNTA ESERCIZIO -->
      <app-new-esercizio
      [listaEsercizi]="listaEserciziRef"></app-new-esercizio>
   </DIV>
   </DIV>

</DIV>


<DIV id="div_dettaglio_esercizio" class="container-fluid" >

   <!--
   <DIV class="row">
   <DIV class="col-sm-12"> -->

	   <!-- PAGINA CON IL DETTAGLIO DI UN ESERCIZIO -->
	   <app-dettaglio-esercizio #dettaglioEsercizioRef
      [listaEsercizi]="listaEserciziRef"></app-dettaglio-esercizio>
<!--
   </DIV>
   </DIV> -->

</DIV>
