

.my-jumbotron {
   background-color: rgb(224, 226, 236);
   /*color:rgb(0, 54, 134);*/
   color:white;
   font-family:'Cinzel',serif;
   background: url(/assets/images/biof-2.jpg) no-repeat center center fixed;
   background-size:cover;
   text-shadow: 1px 1px 1px #000000;
}

.glass-container {
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
	/*border-radius: 6px;*/
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	border: 0.1rem solid rgba(255, 255, 255, 0.22);
	border-radius:0.2rem;
}

.glass-container:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  /*box-shadow: inset 0 0 2000px rgb(104,180,241);*/
	-webkit-filter: blur(20px) grayscale(16%);
	        filter: blur(20px) grayscale(16%);
	margin: -20px;
}