
<label class="label-debug" *ngIf="debug&&show_debug">app/components/home/app.component.html</label>

<div class="jumbotron jumbotron-fluid"
 style="color:rgb(20,40,80);font-family:'Cinzel',serif;"
 (mouseover)="show_debug=true" (mouseleave)="show_debug=false">
  <div class="container-fluid text-center">
    <h1 class="display-4">Network G.C.A.</h1>
    <h2>Il percorso assistenziale integrato nei pazienti con grave cerebrolesione acquisita (GCA)<br> - Fase acuta e post-acuta -</h2>
  </div>
</div>