<div class="container">


    <div class="card shadow-lg" style="border:0px" *ngIf="glossario.length>0">
    
        <div class="card-header my-bg-dark my-text-red text-center">
          <label>Voci del glossario</label>
        </div>
        
        <div class="card-body" style="max-height:550px;overflow:auto;">
          <table id="tableGlossario">
            
             <tr *ngFor="let rec of glossario">
                
                <td (click)="viewVoce(rec)"><strong>{{rec.voce}}:</strong></td>
                <td (click)="viewVoce(rec)">{{rec.def | truncate:100}}</td>                
                <td class="nowrap">
                   <i (click)="formModifVoceGlossario(rec)" class="fas fa-edit my-icon-color my-icon-size-26 font-weight-normal mr-2"></i>
                   <i (click)="confermaCancellaGlossario(rec)" class="fas fa-trash-alt my-icon-color my-icon-size-26 font-weight-normal"></i>
                </td>
             </tr>
          </table>
        </div>
        
        <div class="card-footer" style="border-bottom:0px">
          <button title="Aggiungi nuova voce" class="btn btn-danger mr-1"
          (click)="formNuovaVoceGlossario()">
             <i class="fas fa-plus"></i>
          </button>

          <button title="Aggiorna glossario" class="btn btn-danger"
          (click)="refreshGlossario()">
            <i class="fas fa-sync-alt"></i>
          </button>
        </div> <!-- card footer -->
    </div>

   <!-- 
     -- Finestra modale
     -->
   <div id='modalGlossario' class='modal fade' role='dialog'>
      <div class='modal-dialog modal-lg'>
      <div class='modal-content shadow-lg'>
         <div class='modal-header my-bg-dark'>
            <h4 class='modal-title title-glossario'>{{voce_glossario.voce}}</h4>
            <button type='button' class='close' data-dismiss='modal'>&times;</button>
         </div>

         <div class='modal-body col-12 def-glossario'>
            <label>{{voce_glossario.def}}</label>
         </div>
      </div>
      </div>
   </div>
    
</div>
