  #tableGlossario {
    width:100%;
    color:rgb(34,67,136);
    cursor:pointer;
  }

  #tableGlossario tr > td {
    padding: 6px 10px;
    font-family: Calibri, Geneva, Tahoma, sans-serif,Verdana;
    font-size:20px;
    border:1px solid transparent;
    border-bottom:1px solid rgba(200, 200, 200,0.3);
  }
  
  #tableGlossario > tbody > tr:hover {
    /*color:white;*/
    background-color: rgb(193, 221, 253);
    transition: background-color 0.3s ease-in-out;
  }