
<DIV class="container-fluid mb-3">
    <DIV class="row">
    <DIV class="col-sm-10">
       <!-- PANNELLO CON LA LISTA DEI PACCHETTI -->
       <app-lista-pazienti #listaPazientiRef></app-lista-pazienti>
    </DIV>
    </DIV>

    <!-- FORM AGGIUNTA/MODIFICA PAZIENTE -->
    <app-action-paziente
    [listaPazienti]="listaPazientiRef"></app-action-paziente>

</DIV>

<!-- PAGINA  DETTAGLIO PAZIENTE -->
<app-dettaglio-paziente #dettaglioPazidenteRef
[listaPazienti]="listaPazientiRef"></app-dettaglio-paziente>

 