<!-- Il div con la gif di wait visualizzato nel caricamento di una pagina -->
<div id='waitDiv' style='display:none;z-index:1000'>
  <img id='waitImage' src='../assets/images/wait.gif' alt='Loading'/>
</div>

<nav class="navbar navbar-expand-sm navbar-dark fixed-top navbar-shadow" >

    <span class='navbar-brand'>
        <img src='../assets/images/human-brain-2.jpg' 
        style="width:60px;position:relative;left:-8px" />
    </span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_appMenu">
      <span class="navbar-toggler-icon"></span>
      <span class='icon-bar'></span>
    </button>

     <div class='collapse navbar-collapse' id='navbar_appMenu' >
        
        <ul class="navbar-nav mr-auto">

          <li class="nav-item dropdown" style="margin:0px 3px;">
          
              <button class="btn btn-primary btn-navbar dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                Pacchetti
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/pkt_riabil" >Riabilitativi</a>
                <a class="dropdown-item" routerLink="/pkt_cogn">Cognitivi</a>
              </div>
          </li>
       
          <li class="nav-item dropdown">
            <button class="btn btn-primary btn-navbar dropdown-toggle" id="navbardrop" data-toggle="dropdown">
              Risorse
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/video">Video</a>
              <a class="dropdown-item" routerLink="/audio">Audio</a>
              <a class="dropdown-item" routerLink="/images">Immagini</a>
              <a class="dropdown-item" routerLink="/docs">Documenti</a>
            </div>
          </li>
 
           <li class="nav-item">
              <button class="btn btn-primary btn-navbar" routerLink="/pazienti">Pazienti</button>
           </li>
     
           <li class="nav-item">
             <button class="btn btn-primary btn-navbar" routerLink="/glossario" >Glossario</button>
            </li>
        </ul>

        <label class='label-GCA'>Network&nbsp;GCA</label>

     </div>
</nav>
<!-- END BARRA DI NAVIGAZIONE -->

<!-- class="container-fluid first-panel-position" -->

<div  class="container first-panel-position"
[@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
<router-outlet #o="outlet"></router-outlet>
</div>