

  <!-- Il div per il messaggio di alert quando il server non e' raggiungibile -->
  <div id="div-lost-internet" class="alert-danger-2 p-4 shadow-lg">
    <i class="fas fa-exclamation-triangle" style="font-size:40px"></i>
    <label style="position:relative;top:-2px;font-weight:normal">&nbsp;Web server non raggiungibile</label><br>
    <label style="position:relative;top:-16px;left:53px;font-weight:normal;font-size:22px">(Connessione internet assente e/o server down)</label>
  </div>

  <!-- Il div con la gif di wait visualizzato nel caricamento di una pagina -->
  <div id='waitDiv' style='display:none;z-index:1000'>
    <img id='waitImage' src='assets/images/wait.gif' alt='Loading'/>
  </div>

<label class="label-debug" *ngIf="debug&&show_debug">app/app.component.*</label>

<nav class="navbar navbar-expand-sm navbar-dark fixed-top navbar-shadow"
  (mouseover)="show_debug=true" (mouseleave)="show_debug=false">

    <span class='navbar-brand'>
        <img src='assets/images/human-brain-2.jpg' (click)="toggleDebug()"
        style="width:60px;position:relative;left:-8px" />
    </span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_appMenu">
      <span class="navbar-toggler-icon"></span>
      <span class='icon-bar'></span>
    </button>

     <div class='collapse navbar-collapse' id='navbar_appMenu' >
        
        <ul class="navbar-nav mr-auto" >

          <!-- Home -->
          <li class="nav-item">
              <i class="fas fa-home text-white cursor-pointer mr-4" routerLink="/"></i>
          </li>

          <!-- Pacchetti -->
          <li class="nav-item dropdown" style="margin:0px 3px;">
          
              <button class="btn btn-primary btn-navbar dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                Pacchetti
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/riabil_neuromotoria" >Riabilitazione neuromotoria</a>
                <a class="dropdown-item" routerLink="/riabil_cognitiva">Riabilitazione cognitiva</a>
              </div>
          </li>
       
          <!-- Formazione -->
          <li class="nav-item">
              <button class="btn btn-primary btn-navbar" routerLink="/formazione">Formazione</button>
          </li>

          <!-- Pazienti -->
          <li class="nav-item">
            <button class="btn btn-primary btn-navbar" routerLink="/pazienti">Pazienti</button>
          </li>

          <!-- Risorse -->
          <li class="nav-item dropdown">
            <button class="btn btn-primary btn-navbar dropdown-toggle" id="navbardrop" data-toggle="dropdown">
              Risorse
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/video">Video</a>
              <a class="dropdown-item" routerLink="/audio">Audio</a>
              <a class="dropdown-item" routerLink="/images">Immagini</a>
              <a class="dropdown-item" routerLink="/images_target">Immagini target</a>
              <a class="dropdown-item" routerLink="/docs">Documenti</a>
              <a class="dropdown-item" routerLink="/esercizi">Applicazioni</a>
            </div>
          </li>

          <!-- Glossario -->
          <li class="nav-item">
            <button class="btn btn-primary btn-navbar" routerLink="/glossario" >Glossario</button>
          </li>
        </ul>
        
        <!--
        <i *ngIf="fullScreen=='off'" class="fas fa-expand text-white mr-2" style="cursor:pointer;font-size:30px;"
        title="Fullscreen" (click)="fullscreen()"></i>
        <i *ngIf="fullScreen=='on'" class="fas fa-compress text-white mr-2" style="cursor:pointer;font-size:30px;"
        title="Chiudi fullscreen" (click)="fullscreenExit()"></i> -->
      
        <label class='label-GCA'>Network&nbsp;GCA&nbsp;</label>

     </div>
</nav>
<!-- END BARRA DI NAVIGAZIONE -->

<div  class="container first-panel-position"

[@fadeAnimation]="o.isActivated ? o.activatedRoute : ''" >
<router-outlet #o="outlet"></router-outlet>

</div>