
.label-GCA {
   color: rgb(255,35,0);
   font-family: 'Cinzel', serif;
   font-size: 34px;
   /*font-weight: bold;*/
   font-style: italic;
   text-shadow: 1px 1px 1px rgb(0,0,0);
}

.nav-item {
   margin: 0px 3px;
}

.navbar {
   padding: 0px 10px;
   background-color: rgba(4,48,83,0.92)
}


/**
 * Stili della finestra di allarme connessione internet
 */
.alert-danger-2 {
   font-family:Calibri,tahoma,verdana;
   font-size:36px;
   background-color: rgb(255, 230, 20);
   color: rgb(30,30,0);
}
#div-lost-internet {
   z-index:4000;
   position: fixed;
   top:  -300px;
   width: 550px;
   left: -webkit-calc(50% - 275px);
   left: -moz-calc(50% - 275px);
   left: calc(50% - 275px);
   opacity: 0;
}
