 <div class="shadow-lg px-0 py-0 mb-5 w-100"
    (mouseover)="show_debug=true" (mouseleave)="show_debug=false"
 >

 <label class="label-debug" *ngIf="debug&&show_debug">app/components/resource-audio</label>
 
<div class="container-fluid my-text-red text-center p-3 mb-4" style="background-color: rgb(24, 58, 83);">Gestione Audio</div>

<DIV id="div_audio_component" class="container-fluid mb-3">

  <!--
    La componente UploadAudioComponent invia al parent la richiesta di
    ricaricare la lista dei documenti alla fine di un upload.
  <app-upload-audio (reloadAudioEvent)="reloadAudioList($event)"></app-upload-audio> -->

    <!--
      Componente dinamica per l'upload
    -->
  <ng-template #dynamic_file_uploader>  </ng-template>

  
  <table style="margin-bottom:6px;width:100%">
    <tr>
      <td style="width:55px;margin:0;">
          <button title="Aggiorna la lista dei file audio"
            type="button"
            class="btn btn-primary btn-md"
            (click)="listaFileAudio()">
            <i class="fas fa-sync-alt" aria-hidden="true"></i>
            </button>
      </td>
      <td><label class="title-doc">File audio inseriti</label></td>
    
      <td nowrap>
          <i class="fas fa-list-ul icon-list-grid mx-1" (click)="viewAsList()"></i>
          <i class="fas fa-th-large icon-list-grid mx-1" (click)="viewAsGrid()"></i>
      </td>
    </tr>
  </table>

    <!-- Presentazione a griglia 
    style="background-color:rgb(246,246,250); border-radius:4px; border:1px solid rgb(235,235,235);">
    -->
    <div id="div-view-audio-as-grid" *ngIf="view_audio_as=='grid'" 
      class="row py-3 my-bg-secondary">
        <div *ngFor="let audio of lista_audio" class="col-sm-6 col-md-4 mb-3">
            <div class="thumbnail thumbnail-audio my-bg-dark p-3 word-break">
                <audio controls style="width:100%"> <source [src]="audio.url_media"></audio>
                <table style="color:white"><tr>
                <td class="descr-audio">{{audio.descr_media}}</td>
                <td><i class="my-trash fas fa-trash-alt" (click)="confermaCancellaAudio(audio)"></i></td>
                </tr></table>
            </div>
        </div>
    </div>

    <!-- Presentazione a Lista 
    style="background-color:rgb(246,246,250); border-radius:4px; border:1px solid rgb(235,235,235);">
      
    -->
    <div id="div-view-audio-as-list" *ngIf="view_audio_as=='list'"
      class="row py-3 my-bg-secondary">
          <div *ngFor="let audio of lista_audio" class="col-12 mb-3 word-break">
            <div class="thumbnail thumbnail-audio p-3 my-bg-dark">
                <table><tr>

                    <td class="col-11 descr-audio-on-lista">{{audio.descr_media}}</td>
                    <td nowrap class="col-1">
                        <i class="fas fa-play-circle icon-list mr-2" 
                            data-toggle="modal" 
                            data-target="#modalAudioList" 
                            (click)="openModalAudio(audio)"></i>
                        <i class="fas fa-trash-alt icon-list" (click)="confermaCancellaAudio(audio)"></i>
                      </td>
                </tr></table>
            </div>
          </div>
    </div>


    <!-- Finestra modale per presentare l'audio e avviarlo -->
    <div *ngIf="curr_audio" id='modalAudioList' class='modal fade' role='dialog' data-backdrop="static">
      <div class='modal-dialog modal-dialog-centered'>
      <div class='modal-content shadow-lg'>
      <div class='modal-header'>
          <h4 class='modal-title'>{{curr_audio.descr_media}}</h4>
          <button type='button' class='close' (click)="closeModalAudio()">&times;</button>
      </div>
      <div class='modal-body col-12'>
         <audio controls style='width:90%;margin:auto;'> <source [src]="curr_audio.url_media"></audio>
      </div>
        <!--
        <div class='modal-footer'>
          <button type='button' class='btn btn-primary' (click)="closeModalAudio()">Chiudi</button>
        </div> -->
      </div>
      </div>
    </div>
</DIV>
</div>

  