<DIV id="div_dict_controller" class="container-fluid mb-5">

   <DIV class="row">
     <DIV class="col-sm-12">
        
         <!-- PANNELLO CON LA LISTA DELLE VOCI DEL GLOSSARIO -->
         <app-lista-glossario  #listaGlossario></app-lista-glossario>
              
         <!-- FORM AGGIUNTA VOCE GLOSSARIO -->
         <app-new-glossario #newGlossario 
         [listaGlossario]="listaGlossario"></app-new-glossario>
         
         <!-- FORM MODIFICA VOCE GLOSSARIO -->
         <app-mod-glossario #modGlossario       
         [listaGlossario]="listaGlossario"></app-mod-glossario>
      </DIV>
   </DIV>
</DIV>
