<DIV id="div_dict_controller" class="container-fluid">

     <DIV class="row col-sm-12 first-panel-position">
        
      <!-- PANNELLO CON LA LISTA DELLE VOCI DEL GLOSSARIO -->
      <app-lista-glossario  #listaGlossario></app-lista-glossario>
           
      <!-- FORM AGGIUNTA VOCE GLOSSARIO -->
      <app-new-glossario #newGlossario 
      [listaGlossario]="listaGlossario"></app-new-glossario>
      
      <!-- FORM MODIFICA VOCE GLOSSARIO -->
      <app-mod-glossario #modGlossario       
      [listaGlossario]="listaGlossario"></app-mod-glossario>
   </DIV>

</DIV>
