
<div class="shadow-lg px-0 py-0 mb-5 w-100"
  (mouseover)="show_debug=true" (mouseleave)="show_debug=false"
>

  <label class="label-debug" *ngIf="debug&&show_debug">app/components/resource-images-target</label>

  <div class="container-fluid my-text-red text-center p-3 mb-4" style="background-color:rgb(24, 58, 83);">
    Immagini target
  </div>
  
 <div id="div_image_component" class="container-fluid mb-3">
   
   <!--
       La componente UploadImageComponent invia al parent la richiesta di
       ricaricare la lista delle immagini alla fine di un upload.   
   <app-upload-image (reloadImageEvent)="reloadImages($event)"></app-upload-image> -->
    
   <app-upload-images-target></app-upload-images-target>
  
   <table style="margin-bottom:6px;width:100%">
     <tr>
       <td style="width:55px;margin:0;">
           <button title="Aggiorna la lista delle immagini"
             type="button"
             class="btn btn-primary btn-md"
             (click)="listaImmagini()">
             <i class="fas fa-sync-alt" aria-hidden="true"></i>
             </button>
       </td>
       <td><label class="title-image">Targets</label></td>
     </tr>
   </table>
 
     <!-- Presentazione a griglia -->
     <div id="div-view-images-as-grid"
       class="row py-3 my-bg-secondary"
       >
         <div *ngFor="let image of lista_images" class="col-sm-6 col-md-4 col-lg-3 mb-3">
             <div class="thumbnail thumbnail-image p-2 word-break">
                 <img [src]="image.url" class="img-fluid">

                 <table ><tr>
                    <td class="descr-image">{{image.nome}}<br>
                      {{image.categoria}}<br>
                      {{image.descr}}</td>
                    <td><i class="my-trash fas fa-trash-alt" (click)="confermaCancellaTarget(image)"></i></td>
                    </tr>
                </table>
               </div>
         </div>
     </div>
  </div>
 </div>
 
 