.this-anchor {
    font-family: Calibri,Tahoma,Arial;
    font-size:21px;
    font-weight: bold;
    color: #435577;
    border-radius: 0;
    background-color:rgb(230,235,243);
 }
 .collapse2 {
    font-family: Calibri,Tahoma,Arial;
    font-size:20px;
    background-color: rgb(244,246,250);
    padding: 1rem;
 }

 .thead-dark th {
    color: #fff;
    background-color: #0d3156;
    border-color: rgba(0,0,0,0);
    font-weight: normal;
 }
 .thead th {
    vertical-align: bottom;
    border-bottom: 0px;
 }

 #tableEsercizi tr > td {
    font-family: Calibri,Tahoma,verdana;
    font-size:20px;
    color:rgb(0, 77, 154);
    background-color: rgb(248,248,252);
    border-bottom:1px solid rgba(200,200,200,0.2);
    padding: 10px;
    /*padding-left:8px;
    padding-right: 15px;*/
 }
 #tableEsercizi tr > td:nth-child(1) {
    font-weight: bold;
 }
 #tableEsercizi tr:hover > td {
    background:rgba(33,160,218,0.7) !important;
    color: white !important;
    text-shadow: 1px 1px 1px rgb(14,70,150);
    transition: background-color 0.3s ease-in-out;
 }
 

 .marked-row {
   background:rgba(39, 140, 255, 0.2) !important;
   /*text-shadow: 1px 1px 2px white;*/
   /*color: rgb(16,95,133);*/
 }

 .marked-row-first-col {
    border-left: 4px solid rgb(0, 174, 202) !important;
 }

 .marked-row-last-col {
    border-right:  4px solid rgb(0, 174, 202) !important;
 }