<div id="divListaEserciziPacchetto" class="container mt-5 mb-3"
   *ngIf="view_esercizi_visible">

      <div class="card shadow-lg" style="border:0px">
         
         <!-- NOME DEL PACCHETTO  -->         
         <div class="card-header my-bg-dark my-text-red text-center" 
         style="font-size:26px;">
            {{pacchetto.nome}}
         </div>
         
         <!--  DESCRIZIONE -->
         <div class="card-body px-3 py-2" style="overflow:auto;" >
            <a class="this-anchor" data-toggle="collapse" data-target="#descr" href="#">Descrizione<i *ngIf="pacchetto.descr.length>0" class="fas fa-caret-down"></i></a>
            <div id="descr" class="collapse collapse2">
               <span [innerHTML]="pacchetto.descr | safe:'html'"></span>
            </div>
         </div>

         <!-- PREREQUISITI FISICI -->
         <div class="car-body px-3 py-2" style="overflow:auto;" >
            <a class="this-anchor" data-toggle="collapse" data-target="#prereq" href="#">Prerequisiti Fisici<i *ngIf="pacchetto.pre_req.length>0" class="fas fa-caret-down"></i></a>
            <div id="prereq" class="collapse collapse2">
               <span [innerHTML]="pacchetto.pre_req | safe:'html'"></span>
            </div>
         </div>


         <!-- PREREQUISITI COGNITIVI -->
         <div class="car-body px-3 py-2" style="overflow:auto;" >
               <a class="this-anchor" data-toggle="collapse" data-target="#prereq_comp" href="#">Prerequisiti Cognitivo-Comportamentali<i *ngIf="pacchetto.pre_req_comp.length>0" class="fas fa-caret-down"></i></a>
               <div id="prereq_comp" class="collapse collapse2">
                  <span [innerHTML]="pacchetto.pre_req_comp | safe:'html'"></span>
               </div>
         </div>
      
         <!--CONTROINDICAZIONI RELATIVE -->
         <div  class="card-body px-3 py-2" style="overflow:auto;" >
            <a class="this-anchor" data-toggle="collapse" data-target="#controind" href="#">Contro Indicazioni Relative<i *ngIf="pacchetto.contro_ind.length>0" class="fas fa-caret-down"></i></a>
            <div id="controind" class="collapse collapse2">
               <span [innerHTML]="pacchetto.contro_ind | safe:'html'"></span>
            </div>
         </div>

         <!--CONTROINDICAZIONI ASSOLUTE -->
         <div  class="card-body px-3 py-2" style="overflow:auto;" >
            <a class="this-anchor" data-toggle="collapse" data-target="#controind_abs" href="#">Contro Indicazioni Assolute<i *ngIf="pacchetto.contro_ind_abs.length>0" class="fas fa-caret-down"></i></a>
            <div id="controind_abs" class="collapse collapse2">
               <span [innerHTML]="pacchetto.contro_ind_abs | safe:'html'"></span>
            </div>
         </div>

         <!-- PATOLOGIE SECONDARIE -->
         <div  class="card-body px-3 py-2" style="overflow:auto;" >
            <a class="this-anchor" data-toggle="collapse" data-target="#patologie" href="#">Patologie secondarie<i *ngIf="pacchetto.patologie_secondarie.length>0" class="fas fa-caret-down"></i></a>
            <div id="patologie" class="collapse collapse2">
               <span [innerHTML]="pacchetto.patologie_secondarie | safe:'html'"></span>
            </div>
         </div>


         <!-- VALUTAZIONE -->
         <div  class="card-body px-3 py-2" style="overflow:auto;" >
            <a class="this-anchor" data-toggle="collapse" data-target="#valutazione" href="#">Valutazione<i *ngIf="pacchetto.valutazione.length>0" class="fas fa-caret-down"></i></a>
            <div id="valutazione" class="collapse collapse2">
               <span [innerHTML]="pacchetto.valutazione | safe:'html'"></span>
            </div>
         </div>

         <!-- COME SI VALUTA -->
         <div  class="card-body px-3 py-2" style="overflow:auto;" >
               <a class="this-anchor" data-toggle="collapse" data-target="#come_valutare" href="#">Come valutare<i *ngIf="pacchetto.come_valutare.length>0" class="fas fa-caret-down"></i></a>
               <div id="come_valutare" class="collapse collapse2">
                  <span [innerHTML]="pacchetto.come_valutare | safe:'html'"></span>
               </div>
            </div>


         <!-- BIBLIOGRAFIA -->
         <div  class="card-body px-3 py-2" style="overflow:auto;" >
            <a class="this-anchor" data-toggle="collapse" data-target="#bibliografia" href="#">Bibliografia<i *ngIf="pacchetto.bibliografia.length>0" class="fas fa-caret-down"></i></a>
            <div id="bibliografia" class="collapse collapse2">
               <span [innerHTML]="pacchetto.bibliografia | safe:'html'"></span>
            </div>
         </div>

         <!-- ALERT -->
         <div  class="card-body px-3 py-2" style="overflow:auto;" >
            <a class="this-anchor" data-toggle="collapse" data-target="#alert" href="#">Alert<i *ngIf="pacchetto.alert_msg.length>0" class="fas fa-caret-down"></i></a>
            <div id="alert" class="collapse collapse2">
               <span [innerHTML]="pacchetto.alert_msg | safe:'html'"></span>
            </div>
         </div>

         <!-- ALERT VISIBILE -->
         <div  class="card-body px-3 py-2" style="overflow:auto;" >
            <a class="this-anchor" data-toggle="collapse" data-target="#alert_visibile" href="#">Alert visibile<i *ngIf="pacchetto.alert_msg_visibile.length>0" class="fas fa-caret-down"></i></a>
            <div id="alert_visibile" class="collapse collapse2">
               <span [innerHTML]="pacchetto.alert_msg_visibile | safe:'html'"></span>
            </div>
         </div>


         <!-- NOTE -->
         <div  class="card-body px-3 py-2" style="overflow:auto;" >
            <a class="this-anchor" data-toggle="collapse" data-target="#note" href="#">Note<i *ngIf="pacchetto.note.length>0" class="fas fa-caret-down"></i></a>
            <div id="note" class="collapse collapse2">
               <span [innerHTML]="pacchetto.note | safe:'html'"></span>
            </div>
         </div>


      <!-- TABELLA CON LA LISTA DEGLI ESERCIZI -->
      <div class="card-body" style="overflow:auto;" *ngIf="esercizi.length>0">
         <table id="tableEsercizi" class="table" style="cursor:pointer" >
               
            <thead class="thead-dark">
                  <tr>
                     <th>Nome</th>
                     <th>Descrizione</th>
                     <th>Gruppo</th>
                     <th class="text-right">#Multimedia</th>
                     <th colspan=1></th>
                  </tr>
            </thead>

            <tr *ngFor="let ex of esercizi" #row (click)='onForeground(ex.id_ex,row,$event)'>
               <td (click)="dettaglioEsercizio(ex)">{{ex.nome}}</td>
               <td (click)="dettaglioEsercizio(ex)">{{ex.descr | plaintext | truncate:80}}</td>
               <td nowrap ng-bind="ex.nome_grp" (click)="dettaglioEsercizio(ex)">{{ex.nome_grp}}</td>
               <td style='text-align:right;width:100px;' ng-bind="ex.count_media" (click)="dettaglioEsercizio(ex)">{{ex.count_media}}</td>
               
               <td class="nowrap text-right" >
                  <i class="fas fa-edit my-icon-color my-icon-size-26 font-weight-normal mr-2" (click)="formModifEsercizio($event,ex)"></i>
                  <i class="fas fa-trash-alt my-icon-color my-icon-size-26 font-weight-normal" (click)="confermaCancellaEsercizio($event,ex)"></i>
               </td>

               <!--
               <td style='text-align:right;width:32px'><i class="fas fa-edit my-icon-color my-icon-size-26 font-weight-normal" (click)="formModifEsercizio($event,ex)"></i></td>
               <td style='text-align:right;width:32px'><i class="fas fa-trash-alt my-icon-color my-icon-size-26 font-weight-normal" (click)="confermaCancellaEsercizio($event,ex)"></i></td>
               -->
            </tr>

         </table>
      </div>

      <div class="bg-warning p-3 text-center" *ngIf="esercizi.length==0">
         <strong style="font-size:18px;">Non ci sono esercizi configurati per questo pacchetto</strong>
      </div>
         
      <!-- FOOTER -->
         <div class="card-footer" style="border-bottom:0px">
            <button title="Aggiungi un nuovo esercizio" class="btn btn-danger mr-1"
            (click)="formNuovoEsercizio()">
               <i class="fas fa-plus"></i>
            </button>
   
            <button title="Aggiorna la lista degli esercizi del pacchetto" class="btn btn-danger"
            (click)="reloadEserciziPacchetto()">
               <i class="fas fa-sync-alt"></i>
            </button>
         </div>
         <!-- FOOTER -->
      </div>
</div>