<!--
    --NOTA--
    Nella finestra modale i campi marcati con un id like "summernote...." sono ricoperti
    dalla libreria summernote, per questi campi il bind angular non funziona perche' la libreria
    ricopre completamente il campo di testo con un suo oggetto, tuttavia ho lasciato il riferimento
    al bind  [(ngModel)] perche' se si decide che un campo deve tornare a funzionare come
    campo di testo standard la parte angular e' gia' scritta.
-->


<div class="container">

  <!-- INSERIMENTO/MODIFICA PAZIENTE  -->
  <div  id="actPaziente" class="modal fade"
        tabindex="-1"
        role="dialog" data-backdrop="static"
        style="padding-top:35px; display:none;"
        (mouseover)="show_debug=true" (mouseleave)="show_debug=false">

    <label class="label-debug" *ngIf="debug&&show_debug">app/components/pazienti/action-paziente</label>
       
     <div class="modal-dialog modal-lg" role="document">
     <div class="modal-content shadow-lg">
     <div class="modal-header">
        <h3 class="modal-title">{{titolo}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
        </button>
     </div>
     
     <div class="modal-body p-0" style="overflow:hidden;">

      <div *ngIf="azione=='modifica'"
            style="background-color:ghostwhite;
                   padding:14px;
                   border-bottom:1px solid rgba(0,0,40,0.08)">
        <div class="row">
          <div class="col-sm-4 col-form-label col-form-label-sm font-weight-bold">Nome</div>
          <div class="col-sm-4">{{paziente.nome}}</div>
        </div>

        <div class="row">
          <div class="col-sm-4 col-form-label col-form-label-sm font-weight-bold">Cognome</div>
          <div class="col-sm-8">{{paziente.cognome}}</div>
        </div>

        <div class="row">
          <div class="col-sm-4 col-form-label col-form-label-sm font-weight-bold">Codice fiscale</div>
          <div class="col-sm-8">{{paziente.cf}}</div>
        </div>

        <div class="row">
          <div class="col-sm-4 col-form-label col-form-label-sm font-weight-bold">Sesso</div>
          <div class="col-sm-8">{{paziente.sesso}}</div>
        </div>

        <div class="row">
          <div class="col-sm-4 col-form-label col-form-label-sm font-weight-bold">Citt&agrave; e data di nascita</div>
          <div class="col-sm-8">{{luogo_data_nascita()}}</div>
        </div>

        <div class="row">
          <div class="col-sm-4 col-form-label col-form-label-sm font-weight-bold">Nazionalit&agrave;</div>
          <div class="col-sm-8">{{paziente.nazionalita}}</div>
        </div>
      </div>
      
    
        <form #actPazForm="ngForm" class="form-horizontal" role="form" novalidate
          style="background-color: white;padding: 14px; padding-bottom:0px">
           
          <!-- NOME/COGNOME * -->
          <div *ngIf="azione=='nuovo'" class="form-group row" >
              <label for="nome_paz" class="col-sm-3 col-form-label col-form-label-sm font-weight-bold my-label-required">Nome/Cognome*</label>
                <div class="col-sm-4">
                  <input required type="text" class="form-control" id="nome_paz" name="nome_paz" placeholder="Nome"
                  [(ngModel)]="paziente.nome"></div>

                <div class="col-sm-5">
                  <input required type="text" class="form-control" id="cognome_paz" name="cognome_paz" placeholder="Cognome"
                  [(ngModel)]="paziente.cognome"></div>    
          </div>

          <!-- CF/SESSO * -->
           <div *ngIf="azione=='nuovo'" class="form-group row" >
            <label for="CF" class="col-sm-3 col-form-label col-form-label-sm font-weight-bold my-label-required">Codice fiscale*</label>
              <div class="col-sm-5">
                <input required type="text" class="form-control" id="CF" name="CF" placeholder="Codice fiscale"
                 [(ngModel)]="paziente.cf"></div>

                 <label for="sesso" class="col-sm-1 col-form-label col-form-label-sm font-weight-bold my-label-required">Sesso*</label>
                 <div class="col-sm-3">
                    <select required class="form-control" id="sesso" name="sesso" [(ngModel)]="paziente.sesso">
                        <option value='M'>Maschio</option>
                        <option value='F'>Femmina</option>
                    </select>
                  </div>
           </div>

          <!-- Luogo e data nascita * -->
          <div *ngIf="azione=='nuovo'" class="form-group row" >
            <label for="nascita" class="col-sm-3 col-form-label col-form-label-sm font-weight-bold my-label-required">Citt&agrave; e data di nascita*</label>
              <div class="col-sm-5">
                <input required type="text" class="form-control" id="luogo_nascita" name="luogo_nascita" placeholder="Città di nascita"
                 [(ngModel)]="paziente.luogo_nascita"></div>

                <div class="col-sm-4">
                  <input required type="date" class="form-control" id="data_nascita" name="data_nascita"
                  [(ngModel)]="paziente.data_nascita"></div>
          </div>

          <!-- Nazionalita * -->
          <div *ngIf="azione=='nuovo'" class="form-group row" >
            <label for="nazionalita" class="col-sm-3 col-form-label col-form-label-sm font-weight-bold my-label-required">Nazionalit&agrave;*</label>
              <div class="col-sm-9">
                <input required type="text" class="form-control" id="nazionalita" name="nazionalita" placeholder="Nazionalità"
                [(ngModel)]="paziente.nazionalita"></div>
          </div>

           <!-- Residenza * -->
          <div class="form-group row" >
            <label for="residenza" class="col-sm-3 col-form-label col-form-label-sm font-weight-bold my-label-required">Residenza*</label>
              <div class="col-sm-9">
                <input required type="text" class="form-control" id="residenza" name="residenza" placeholder="Residenza"
                [(ngModel)]="paziente.residenza"></div>
          </div>

          <!-- Indirizzo * -->
          <div class="form-group row" >
            <label for="indirizzo" class="col-sm-3 col-form-label col-form-label-sm font-weight-bold my-label-required">Indirizzo*</label>
              <div class="col-sm-9">
                <input required type="text" class="form-control" id="indirizzo" name="indirizzo" placeholder="Indirizzo"
                [(ngModel)]="paziente.indirizzo"></div>
          </div>

          <!-- Email * -->
          <div class="form-group row" >
            <label for="email" class="col-sm-3 col-form-label col-form-label-sm font-weight-bold my-label-required">Email*</label>
              <div class="col-sm-9">
                <input required type="email" class="form-control" id="email" name="email" placeholder="Email"
                [(ngModel)]="paziente.email"></div> 
          </div>

          <!-- NOTE -->
          <div class="form-group row">
            <label for="note" class="col-sm-3 col-form-label col-form-label-sm font-weight-bold">Note</label>
            <div class="col-sm-9">
                <textarea class="form-control" id="note" name="note"  placeholder="Note" rows="4" placeholder="Note"
                [(ngModel)]="paziente.note"></textarea>
            </div>
          </div>

        </form>

     </div>
     <div class="modal-footer">

        <button *ngIf="azione=='nuovo'" title="Salva paziente" class="btn btn-danger text-white" 
          (click)="salvaNuovoPaziente()">
        <!--[disabled]="actPazForm.invalid" -->
          <i class="fas fa-share-square"></i>&nbsp;Salva&nbsp;
        </button>

        <button *ngIf="azione=='nuovo'" title="Pulisci i campi del modulo" class="btn btn-dark text-white" 
        (click)="clearNuovo()">
          <i class="fas fa-eraser" aria-hidden="true"></i>&nbsp;Pulisci&nbsp;
          </button>

        <button *ngIf="azione=='modifica'" title="Salva modifiche" class="btn btn-danger text-white" 
          (click)="salvaModifichePaziente()">
          <i class="fas fa-share-square"></i>&nbsp;Salva&nbsp; 
        </button>

        <button *ngIf="azione=='modifica'" title="Ricarica sul modulo i campi del paziente corrente" class="btn btn-dark text-white" 
                  (click)="reloadEntryPaziente()">
              <i class="fas fa-sync-alt" aria-hidden="true"></i>&nbsp;Ricarica&nbsp;
        </button>
          
        <button *ngIf="azione=='modifica'" title="Pulisci i campi del modulo" class="btn btn-dark text-white" 
        (click)="clearModifiche()">
          <i class="fas fa-eraser" aria-hidden="true"></i>&nbsp;Pulisci&nbsp;
          </button>

          
     </div>
     </div>
     </div>
  </div>
  <!-- INSERIMENTO MODIFICA PAZIENTE -->

</div>