/* You can add global styles to this file, and also import other style files */



body, html {
    font-family: Verdana, Tahoma, Calibri !important;
    font-size:16px !important;
    font-weight:normal !important;
    background-color:rgb(248,248,252) !important;
    width:100%;
    height:100%;
}

.home-background {
   background: url("/assets/images/biof-2.jpg") no-repeat center center fixed;
   /* Keep the inherited background full size. */
   background-size: cover;
}

.home-background-mobile {
   background: -moz-linear-gradient(-45deg, rgba(195,217,234,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(195,217,234,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(-45deg, rgba(195,217,234,1) 0%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(-45deg, rgba(195,217,234,1) 0%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(195,217,234,1) 0%, rgba(255,255,255,1) 100%);
background: linear-gradient(135deg, rgba(195,217,234,1) 0%, rgba(255,255,255,1) 100%);
}

router-outlet ~ * {
    position: absolute;
    top:75px;
    height: 100%;
    width: 100%;
}

.label-debug {
   position:fixed;
   top:80px;
   left:20px;
   z-index:25000;
   font-size:18px;
   padding: 16px 30px;
   background-color: rgba(156, 82, 236, 0.9);
   color: white;
}

.my-text-red {
   font-family: 'Cinzel', serif;
   color:rgb(240,20,20);
   font-size:34px;
   text-shadow: 1px 1px 1px #000000;
}

/* Ridefinisce il color di fondo */
.card-header {
   background-color: rgb(240,240,248);
   border-bottom: 1px solid rgba(0,0,0,.125)
}

.card-footer {
   background-color: rgb(240,240,248);
   border-bottom: 1px solid rgba(0,0,0,.125)
}

.my-icon-color {
    color:rgb(4, 35, 70) !important;
}

.my-icon-size-22 {
    font-size:22px;
}

.my-icon-size-24 {
    font-size:24px;
}

.my-icon-size-26 {
    font-size:26px;
}

.my-icon-size-28 {
    font-size:28px;
}

.my-bg-dark {
   background-color:rgb(24, 58, 83);
}

 .my-trash {
   position:absolute;
   bottom:9px;
   right:22px;
   cursor:pointer;
   font-size:22px;
   font-weight:normal;
   color:white;
}

.my-trash-dark {
   position:absolute;
   bottom:7px;
   right:20px;
   cursor:pointer;
   font-size:22px;
   font-weight:normal;
   color: rgb(30,50,100)
}


.navbar-brand {
    padding: 0px;
}



/**
 * ------------------------------------------------------------------------------------------------------
 * Stili per le finestre modali della libreria summernote.
 * E' necessario metterli nello stile globale, perche' se inseriti
 * negli stili locali non vengono assegnati
 * ------------------------------------------------------------------------------------------------------
 */
 
/**
 * Posizione dell'icona a forma di sole che identifica un campo 
 * di testo wrappato con summernote
 */
.summernote-brand {
   position: absolute;
   right: 2px;
}

.note-editable {
   overflow-y: auto;
   line-height: 1.5;
   border: double rgb(156, 178, 189);
}
/**
 * Aggiusta la posizione e il carattere del placeholder
 */
.note-placeholder {
   top: 7px;
   left: 13px;
   font-family: Tahoma, calibri, sans-serif, Helvetica, Arial, Tahoma;
   font-size: 16px !important;
}
.note-form-label {
   font-weight:bold;
   color:rgb(20,30,70);
}
.word-break {
   word-break: break-word;
}
.div_tableMedia {
   width:100%;
   height:300px;
   overflow:auto;
   margin-bottom:10px;
   border: 4px solid rgb(210, 210, 210);
   border-radius:6px;
   background-color: rgb(243,243,245);
}
.tableMedia {
  /*width:100%;*/
  cursor:pointer;
}
.tableMedia > tbody > tr > td {
  padding: 10px 8px;
  font-family: Calibri, Tahoma, Verdana;
  font-size: 20px;
  font-weight: normal;
  border-bottom: 1px solid rgba(200,200,200,0.5);
  color: rgb(20,40,90);
}
.tableMedia > tbody > tr:hover {
  background-color: rgb(220,222,224);
  transition: background-color 0.3s ease-in-out;
}
.tableMedia tr:nth-child(odd) {
   background-color: rgb(248, 248, 250);
}
.tableMedia tr:nth-child(even) {
 background-color: rgb(248, 248, 250);
}
/** Fine fogli di stile per finestra modale summernote **/




/**
 * ====================================================================================
 * Stili per le popover impostate per i campi summernote
 * ====================================================================================
 **/
.my-popover-body {
   padding: 0px;
}

a {
   font-weight: bold;
   color: rgb(236, 0, 0);
   text-decoration: none;
   padding: 2px 6px;
   background-color: rgb(233,236,246);
   border-radius:3px;
   cursor:pointer;
}

/**
 * questo serve per le ancore dei popover che non hanno l'attributo href
 */
a:not([href]):not([tabindex]) {
   font-weight: bold;
   color: rgb(236, 0, 0);
   text-decoration: none;
   padding: 2px 6px;
   background-color: rgb(233,236,246);
   border-radius:3px;
   cursor:pointer;
}
a:not([href]):not([tabindex]):hover {
   text-decoration: underline;
}

/**
 * Stili aggiuntivi per il popup del glossario. 
 * NB. !!! Questa prima classe e' usata anche pe rimuovere i popover aperti !!!
 */
.my-popover-glossario {
   max-width:360px !important;
   border: 1px solid rgba(150,150,150,0.1) !important;
}
/** 
 * Stile del titolo del popover che presenta
 * una voce del glossario
 */
.voce-glossario {
   width:100%;
   font-weight:normal;
   background-color:rgb(0, 150, 195);
   color:white;
   padding:0px 12px;
   font-family:Roman;
   font-size:28px;
}
/** 
 * Stile del body del popover che presenta una voce del glossario.
 */
.descr-glossario {
   width:100%;
   background-color:rgb(33, 84, 120);
   padding:8px 24px;
   font-family: Calibri, Tahoma, Verdana,san serif;
   font-size:20px;
   font-weight:normal;
   color: white;
}


/**
 * Stili aggiuntivi per il popover del video.
 * NB. !!! Questa prima classe e' usata anche pe rimuovere i popopver aperti !!!
 */
.my-popover-video {
   max-width: 450px !important;
   border: 1px solid rgba(150,150,150,0.1) !important;
}
/**
 * Questo per il div con i video
 */
.voce-video {
   width:100%;
   font-weight:normal;
   background-color:rgb(26, 58, 81);
   color:white;
   /*padding:8px 12px;*/
}
/**
 * Questo per il div in basso con la descrizione del video
 */
.popover-video-descr {
   width:100%;
   background-color:rgb(26, 58, 81);
   color:white;
   padding: 8px 24px;
   font-family: Tahoma,verdana,san serif;
   font-size:16px;
   font-weight:normal;
}


/**
 * Stili aggiuntivi per il popover dei file audio.
 * NB. !!! Questa prima classe e' usata anche pe rimuovere i popopver aperti !!!
 */
.my-popover-audio {
   width: 340px !important;
   max-width: 340px !important;
   border: 1px solid rgba(150,150,150,0.1) !important;
}
/**
 * Questo per il div che riproduce l'audio
 */
 .voce-audio {
   width:100%;
   font-weight:normal;
   background-color:rgb(54, 120, 155);
   color:white;
   padding:8px 12px;
}
/**
 * Questo per il div in basso con la descrizione dell'audio
 */
.popover-audio-descr {
   width:100%;
   background-color:rgb(26, 58, 81);
   color:white;
   padding: 8px 24px;
   font-family: Tahoma,verdana,san serif;
   font-size:16px;
   font-weight:normal;
}

/**
 * Stili aggiuntivi per il popover con le immagini.
 * NB. !!! Questa prima classe e' usata anche pe rimuovere i popopver aperti !!!
 */
.my-popover-image {
   width: 380px !important;
   max-width: 380px !important;
   border: 1px solid rgba(150,150,150,0.1) !important;
   /*box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25) !important;*/
}

/**
 * Questo per il div che contiene l'immagine
 */
 .voce-image {
   width:100%;
   font-weight:normal;
   background-color:rgb(96, 125, 139);
   color:white;
   /*padding:8px 12px;*/
}
/**
 * Questo per il div in basso con la descrizione dell'immagine
 */
.popover-image-descr {
   width:100%;
   background-color:rgb(26, 58, 81);
   color:white;
   padding: 8px 24px;
   font-family: Tahoma,verdana,san serif;
   font-size:16px;
   font-weight:normal;
}

/**
 * Variazione di stili per l'oggetto popover bootstrap.
 */
.popover {
   box-shadow: 0 1rem 3rem rgba(0,0,0,.2)!important;
   border: 1px solid rgba(0, 0, 0, 0.065);
   border-top-right-radius: 12px;
}
.popover-header {
   color: white;
   background-color: rgb(87, 88, 117);
   text-shadow: 1px 1px 1px black;
   border-radius:0px;
   border-top-right-radius: 12px;
}
.popover-body {
   background-color: rgb(245,245,250);
   font-size:16px;
}

.cursor-pointer {
   cursor:pointer;
}