<div class="container">

    <!-- INSERIMENTO NUOVO ESERCIZIO  -->
    <div  id="nuovoEsercizio" class="modal fade"
          tabindex="-1"
          role="dialog" data-backdrop="static"
          style="padding-top:35px; display:none;">
         
       <div class="modal-dialog modal-lg" role="document">
       <div class="modal-content shadow-lg">
       <div class="modal-header">
          <h3 class="modal-title">Nuovo Esercizio</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
          </button>
       </div>
  
       
       <div class="modal-body" style="height:450px;overflow:auto;">

          <form #newExForm="ngForm" class="form-horizontal" role="form" novalidate>
             
            <!-- NOME ESERCIZIO (OBBLIGATORIO) -->
             <div class="form-group row" >
                <label for="nome_ex" class="col-sm-3 col-form-label col-form-label-sm  my-label-required font-weight-bold">Nome*</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="nome_ex"  name="nome_ex" placeholder="Nome esercizio"
                    required [(ngModel)]="esercizio.nome"></div>
            </div>
  
            
            <!-- DESCRIZIONE (OBBLIGATORIO) -->
            <div class="form-group row">
              <label for="summernote-newex-descr" class="col-sm-3 col-form-label col-form-label-sm my-label-required font-weight-bold">Descrizione*</label>
              <div class="col-sm-9">
                  <textarea class="form-control" id="summernote-newex-descr" name="descr_newex"  placeholder="Descrizione"
                  required [(ngModel)]="esercizio.descr" #descr_newpkt="ngModel"></textarea>
              </div>
            </div>
  
            
            <!-- GRUPPO DI APPARTENENZA -->
            <div class="form-group row">
                <label for="summernote-newex-gruppo" class="col-sm-3 col-form-label col-form-label-sm font-weight-bold">Gruppo esercizi</label>
                <div class="col-sm-9">
                    <select id="summernote-newex-gruppo" class="form-control"name="gruppo"
                     [(ngModel)]="esercizio.id_grp" >
                      <option *ngFor="let g of gruppi" [value]="g.id" [selected]="true">{{g.nome}}</option>
                    </select>
                </div>
            </div>


            <!-- TESTO -->
            <div class="form-group row">
                <label for="summernote-newex-testo" class="col-sm-3 col-form-label col-form-label-sm font-weight-bold">Testo</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="summernote-newex-testo" name="testo_newex"  placeholder="Testo"
                     [(ngModel)]="esercizio.testo"></textarea>
                </div>
            </div>

            <!-- ALERT ESERCIZIO -->
            <div class="form-group row">
                <label for="summernote-newex-alert" class="col-sm-3 col-form-label col-form-label-sm font-weight-bold">Alert esercizio</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="summernote-newex-alert" name="testo_newex"  placeholder="Alert esercizio"
                      [(ngModel)]="esercizio.alert"></textarea>
                </div>
            </div>


            <!-- LIMITAZIONI RELATIVE -->
            <div class="form-group row">
                <label for="summernote-newex-limit" class="col-sm-3 col-form-label col-form-label-sm font-weight-bold">Limitazioni relative</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="summernote-newex-limit" name="testo_newex"  placeholder="Limitazioni relative"
                      [(ngModel)]="esercizio.alert"></textarea>
                </div>
            </div>
  
          </form>
          
       </div>
       <div class="modal-footer">
          <button title="Pulisci" class="btn btn-info text-white" 
            (click)="reset(newExForm);">
             <i class="fas fa-eraser" aria-hidden="true"></i>&nbsp;Pulisci&nbsp;
          </button>
          
          <button title="Salva voce" class="btn btn-info text-white" 
              (click)="salvaEsercizio(newExForm)">
              <i class="fas fa-share-square"></i>&nbsp;Salva&nbsp;</button>
       </div>
       </div>
       </div>
    </div>
    <!-- INSERIMENTO NUOVO ESERCIZIO -->
  </div>